.unowned-requests {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 88.5vh;
}

.unowned-requests-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 20px;
    transition: 0.3s;
}

.unowned-requests-container::-webkit-scrollbar {
    display: none;
}

.unowned-requests br {
    display: block;
    content: "";
    margin-top: -3px;
}

.add-request-button {
    font-size: 13pt !important;
    margin-top: 10px;
}