.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  height: calc(100vh - 76.52px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dashboard::-webkit-scrollbar {
  display: none;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 100%;
  max-width: 500px;
}

.dashboard-card {
  width: 100%;
}

/* .dashboard-container p {
  color: white;
} */

.create-request-button, .submitted-requests-button, .add-to-owned-requests-button, .owned-requests-button, .logout-button {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  color: white;
  background-color: var(--lunikoBlue);
  border-radius: 5px;
  font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  height: 50px;
  width: 100%;
  font-size: 13pt;
  transition: 200ms;
}

.create-request-button:hover, .submitted-requests-button:hover, .add-to-owned-requests-button:hover, .owned-requests-button:hover, .logout-button:hover {
  background-color: var(--lunikoOrange) !important;
}

.create-request-button {
  margin-top: 0;
}

.logout-button {
  margin-top: 20px;
  margin-bottom: 20px;
}