.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  height: calc(100vh - 76.52px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.login::-webkit-scrollbar {
  display: none;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 100%;
  max-width: 500px;
}

.login-card {
  width: 100%;
}

/* 
.login-textBox {
  padding: 10px;
  font-size: 14pt;
  margin-bottom: 10px;
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
} */

/* .login-textBox::placeholder {
  color: rgba(83, 83, 83, 0.29);
} */

/* input {
  font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(83, 83, 83, 0.767);
} */

/* input:focus {
  outline: none;
} */

.login-button {
  padding: 10px;
  margin-top: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: var(--lunikoBlue);
  border-radius: 5px;
  font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  height: 50px;
  width: 100%;
  font-size: 13pt;
  transition: 200ms;
}

.login-button:hover {
  background-color: var(--lunikoOrange) !important;
}

.login-google:hover {
  cursor: pointer;
}

.login-google {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  font-size: 13pt;
  font-weight: 600;
  margin-top: 0 !important;
  margin-bottom: 14px;
  height: 50px;
  box-shadow: 2px 2px 4px rgba(43, 43, 43, 0.6);
}

.login-google img {
  height: 25px;
  align-self: center;
  margin-right: 11px;
}

.login-google p {
  align-self: center;
  justify-content: center;
  margin-bottom: 0;
}

.login-text-container {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 13px;
}

.login-text-container div {
  margin-top: 0;
  color: white;
}

a {
  color: white !important;
}