.submitted-requests {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: calc(100vh - 76.52px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.submitted-requests::-webkit-scrollbar {
    display: none;
}

.submitted-requests-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 100%;
    max-width: 500px;
}

.add-request-button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px !important;
    border: none;
    color: white;
    background-color: var(--lunikoBlue);
    border-radius: 5px;
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14pt;
    height: 50px;
    width: 100%;
    font-size: 13pt !important;
    transition: 200ms;
}

.add-request-button:hover {
    background-color: var(--lunikoOrange) !important;
}

.submitted-request-card {
    width: 100%;
}

.submitted-requests br {
    display: block;
    content: "";
    margin-top: -3px;
}

.edit-request-button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px !important;
    border: none;
    color: white;
    background-color: var(--lunikoBlue);
    border-radius: 5px;
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14pt;
    height: 50px;
    width: 100%;
    font-size: 13pt !important;
    transition: 200ms;
}

.edit-request-button:hover {
    background-color: #00e065 !important;
}